{% extends 'main.html' %}
{% load bootstrap4 %}


{#    <form method="post" action=""#}
{##}
{#        <input type="text", name="f1" value="something"><br>#}
{#        <input type="password", name="f2" value=""><br>#}
{#        <input type="checkbox", name="f3" value="A"><br>#}
{#        <input type="checkbox", name="f3" value="B"><br>#}
{#        <input type="radio", name="f4" value="Z"><br>#}
{#        <input type="radio", name="f4" value="W"><br>#}
{#        <select name="f6" id="">#}
{#            <option value="H">H</option>#}
{#            <option value="N">N</option>#}
{#            <option value="O">O</option>#}
{#        </select><br>#}
{#        <textarea name="f5" value="W"></textarea></textarea><br>#}
{#        <input type="submit" value="Send">#}
{#    </form>#}


{% block content %}
    {{ form.media }} {# for datepicker#}
    <form method="post">
        {% csrf_token %}
{#        <table>#}
{#            {{ form.as_table }}#}
{#        </table>#}
        {% bootstrap_form form %}
        {% buttons %}
         <input type="submit" value="Send">
        {% endbuttons %}
    </form>
{% endblock %}